%h2 Çekimi Hakkında
%h5 Çekimi, Türkçe fiilleri otomatik olarak çeken bir uygulamadır.
%p
  2023 yılında Daudi Anderson tarafından tasarlanmış ve yazılmıştır. 
  %br
  Şu anda render.com'da ücretsiz bir "hobi" projesi olarak yürütülmektedir. 
  Bu yüzden başlarken yavaş olabilir.
  %br
  Dikkatli olun: Uzun bir fiil girerseniz, 
  görsel biçimlendirmeyi bozacaktır.
  %br
  &emsp;
  %br
  %i
    [majozi.com]'a satılıktır: ilgilenen alıcılar bana 
    = mail_to("dsaronin@gmail.com", "e-posta &raquo;")
    göndermelidir.
