%h3= @greeting
%h4= @hint
%br
%p
  Things you can do (type in address bar after hostname):
  %ul
    %li /conj/xxxxx  -- conjugate verb xxxxx
    %li /conj/xxxxx?=y  -- where y is 'a' for ability, 'c' for causative, 'p' for passive.
    %li /list/aorist  -- (default) to conjugate five most common tenses
    %li /list/must_shall  -- to conjugate five lesser tenses
    %li /pdf/xxxxx  -- conjugate verb xxxxx and download pdf

