!!! 1.1
%html(xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en")
  %head
    %meta(http-equiv="content-type" content="text/html;charset=UTF-8")
    %meta(http-equiv="X-UA-Compatible" content="chrome=1")
    %link(rel="stylesheet" href="/css/stylesheet.css")

    %title Çekimi

  %body
    #wrapper
      #header
        %h1 Çekimi: otomatik fiil çekimi yazılımı
      #content
        = yield
      #footer
        %p
          &copy;&nbsp;
          Copyright 2023 David S. Anderson, All rights reserved 
          &emsp;&bull;&emsp;v 1.01 &ensp;
          
